

.myPage{
    width: 700px;
    border: 2px solid rgb(57, 56, 56);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    
}
.header{
    padding: 10px;
    height: 100px;
    background-color: brown;
    text-align: center;
    color: white;
}
h2{
    margin: 0%;
    font-size: 32px;
}
#myInput{
    margin: 15px 0px;
    width: 400px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;

}
 #addbtn, #apiTodos{
    padding: 11px 30px;
    background-color: rgb(51, 51, 95);
    cursor: pointer;
}


li > .delete{
    padding: 5px 10px;
    float:right;
    border: none;
    border-radius: 2px;
    background-color: rgb(79, 79, 80);
    cursor: pointer;
}

#myUl > li{
    font-size: 20px;
    padding: 5px 15px;
    margin: 5px 2px;
    list-style-type: none;
    transition: 100ms;
}

#myUl > li:hover{
    background: rgba(199, 198, 198, 0.739);
}

/* li.checked{
    text-decoration: line-through;
} */

li > input {
    float:left;
    
  }


  
  
 

    


